$color1: #9198e5;
$color2: #f89c9c;
$color3: #424242;
$color4: #fcffd6;

body {
    background: $color1;
    animation: bg-color 15s infinite;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .project {
        display: inherit;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            text-decoration: none;
            margin: .2em;
            position: relative;

            .cardtitle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-20%, -98%);
                text-align: center;
                width: 8em;
                z-index: 3;
                pointer-events: none;
                font-weight: bold;
                font-size: 1rem;
                text-transform: uppercase;
                color: $color3;
            }

            svg {
                position: relative;
                padding: 2em 10em 2em 2em;
                fill: $color2;
                animation: svg-color 15s infinite;
                border: 3px solid $color2;
                border-radius: 25px;
                z-index: 2;
                background-color: $color4;
            }
        }
    }
}

@keyframes bg-color {
    0%, 100% { background-color: $color1; }
    50% {background-color: $color2;}
}

@keyframes svg-color {
    0%, 100% {
        fill: $color2;
        border-color: $color2;
    }
    50% {
        fill: $color1;
        border-color: $color1;
    }
}

@media only screen and (min-width: 760px) { 
    main {
        flex-direction: row;
        justify-content: space-around;

        .project {
            a {
                margin: 1em;

                .cardtitle {
                    z-index: 1;
                    transform: translate(-50%, -98%);
                    font-size: 1.2rem;
                }

                svg {
                    padding: 3.2em;
                    &:hover {
                        filter: blur(2px);
                        z-index: 0;
                    }
                }
            }
        }
    }
}